/* General page layout */
body {
    background-color: black;
    color: white;
    margin: 0; /* Remove any default margins from the body */
}

.chapter-page {
    margin: 0; /* Remove any margins */
    padding: 0; /* Remove padding if necessary */
}


