#form {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    padding: 20px;
    background-color: rgba(57, 57, 57, 0.303);
    border-radius: 4px;
    font-size: 12px;
  }
  
  #form h1 {
    color: #ffffff;
    text-align: center;
  }
  
  #form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background: linear-gradient(
      to right,
      rgba(23, 136, 207, 0.893),
      black,
      black,
      rgba(23, 136, 207, 0.893)
    );
  
    border: none;
    border-radius: 4px;
  }
  
  .input_box {
    display: flex;
    flex-direction: column;
  }
  
  .input_box input {
    border: 2px solid #ffffff91;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 100%;
    background-color: #ffffff91;
  }
  
  .input_box input:focus {
    outline: 0;
  }
  .input_box input::placeholder {
    color: black;
  }
  
  .input_box.success input {
    border-color: #09c372;
    background-color: #09c372;
  }
  
  .input_box.error input {
    border-color: #ff3860;
    background-color: #ff3860;
  }
  
  .input_box .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
  }